<article class="list-group">
      <div class="list-group-item">
        <p><b><a href="/post/{{id}}">{{title}}</a></b></p>
        <span>{{post_text}}</span>
      </div>
      <div class="list-group-item">
        Posted by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
</article>